<!-- edit-user.component.html -->
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="body-wrapper mt-4 col-lg-10">
    <div class="container-fluid mt-4">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title fw-semibold mb-4">Cập nhật người dùng</h2>
            <div class="card mb-0">
              <div class="card-body">
                <div class="alert alert-primary">
                  <form [formGroup]="userForm" (ngSubmit)="edit()">
                    <div class="mb-3">
                      <label for="name" class="form-label">Tên:</label>
                      <input type="text" class="form-control" id="name" formControlName="name">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Mật khẩu:</label>
                      <input type="text" class="form-control" id="password" formControlName="password">
                    </div>

                    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Cập nhật</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
