<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Danh sách dự án</h5>
        <div class="card mb-0">
          <div class="card-body p-4">
            <div class="alert alert-primary" role="alert">
              A simple primary alert—check it out!
            </div>
            
            <div class="alert alert-dark" role="alert">
              A simple dark alert—check it out!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>