<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Danh sách dự án</h5>
        <div class="card mb-0">
          <div class="card-body p-4">
            <div class="alert alert-primary" role="alert">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên dự án</th>
                    <th scope="col">Ngày bắt đầu dự án</th>
                    <th scope="col">Số thành viên</th>
                    <th scope="col">Hành động</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Dự án 1</td>
                    <td>20/11/2004</td>
                    <td>20</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>