<div class="body-wrapper mt-4">
  <div class="container-fluid mt-4">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Danh sách dự án</h5>
          <div class="card mb-0">
            <div class="card-body">
              <div class="alert alert-primary">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center">#</th>
                      <th scope="col" class="text-center">Tên dự án</th>
                      <th scope="col" class="text-center">Miêu tả</th>
                      <th scope="col" class="text-center">Ngày bắt đầu</th>
                      <th scope="col" class="text-center">Ngày kết thúc</th>
                      <th scope="col" class="text-center">Ngân sách</th>
                      <th scope="col" class="text-center">Thao tác</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="projects.length >= 1 && !isLoading">
                    <tr *ngFor="let project of projects; let i = index">
                      <td class="text-center">{{ i + 1 }}</td>
                      <td class="text-center">{{ project.name }}</td>
                      <td class="text-center">{{ project.description }}</td>
                      <td class="text-center">{{ project.start_date | date:'dd/MM/yyyy'}}</td>
                      <td class="text-center">{{ project.end_date | date:'dd/MM/yyyy'}}</td>
                      <td class="text-center">{{ project.budget }}</td>
                      <td>
                        <i class="fa fa-solid fa-pencil text-success" (click)="editProject(project._id)"></i>
                        <i class="fa fa-trash text-danger" (click)="onDelete(project._id)"></i>
                      </td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>