<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="body-wrapper mt-4 col-lg-10">
    <div class="container-fluid mt-4">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4 p-6">Thêm dự án</h5>
            <div class="card">
              <div class="card-body">
                <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
                  <div class="mb-3">
                    <label for="name" class="form-label">Tên dự án</label>
                    <input type="text" class="form-control" id="name" formControlName="name">
                    <div *ngIf="projectForm.get('name').invalid && projectForm.get('name').touched"
                      class="text-danger">
                      Tên dự án là bắt buộc
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="budget" class="form-label">Ngân sách</label>
                    <input type="number" class="form-control" id="budget" formControlName="budget">
                    <div *ngIf="projectForm.get('budget').invalid && projectForm.get('budget').touched"
                      class="text-danger">
                      Ngân sách là bắt buộc.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="start_date" class="form-label">Ngày bắt đầu</label>
                    <input type="date" class="form-control" id="start_date" formControlName="start_date">
                    <div *ngIf="projectForm.get('start_date').invalid && projectForm.get('start_date').touched"
                      class="text-danger">
                      Ngày bắt đầu là bắt buộc.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="end_date" class="form-label">Ngày kết thúc</label>
                    <input type="date" class="form-control" id="end_date" formControlName="end_date">
                    <div *ngIf="projectForm.get('end_date').invalid && projectForm.get('end_date').touched"
                      class="text-danger">
                      Ngày kết thúc là bắt buộc.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Miêu tả</label>
                    <input type="text" class="form-control" id="name" formControlName="description">
                    <div *ngIf="projectForm.get('description').invalid && projectForm.get('description').touched"
                      class="text-danger">
                      Miêu tả dự án là bắt buộc
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" [disabled]="projectForm.invalid">Lưu</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>