<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4 p-6">Dự án</h5>
        <div class="card">
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ID Nhiệm vụ</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Tên nhiệm vụ</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mô tả nhiệm vụ</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Dự án</label>
                <select name="" id="" class="form-control">
                  <option value="">Dự án 1</option>
                  <option value="">Dự án 2</option>
                  <option value="">Dự án 3</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Sự ưu tiên</label>
                <select name="" id="" class="form-control">
                  <option value="">Không ưu tiên</option>
                  <option value="">Ưu tiên</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Trạng thái</label>
                <select name="" id="" class="form-control">
                  <option value="">Đang chờ</option>
                  <option value="">Đang làm</option>
                  <option value="">Đã hoàn thành</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Lưu</button>
            </form>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>