<div class="body-wrapper mt-4">
  <div class="container-fluid mt-4">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4 p-6">Thêm nhiệm vụ</h5>
          <div class="card">
            <div class="card-body">
              <form (submit)="onSubmit()">

                <div class="form-group">
                  <label for="project_id">Tên dự án</label>
                  <select class="form-control" name="project_id" id="project_id" [(ngModel)]="task.project_id">
                    <option value="6667a0f85238b3068ce2777f">Quản lý cửa hàng thú cưng</option>
                    <option value="666959b4e6e00c5dc85fe06d">dự án web bán hàng</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="name">Tên nhiệm vụ:</label>
                  <input type="text" class="form-control" id="name" name="name" [(ngModel)]="task.name" required>
                </div>
                <div class="form-group">
                  <label for="description">Mô tả:</label>
                  <textarea type="text" class="form-control" id="description" name="description" [(ngModel)]="task.description"
                    required></textarea>
                </div>
                <div class="form-group">
                  <label for="assignee_id">Người thực hiện</label>
                  <select class="form-control" name="assignee_id" id="assignee_id" [(ngModel)]="task.assignee_id">
                    <option value="666938e02ad4e551fc4c4735">Trần Hữu Đạt</option>
                    <option value="6669390b2ad4e551fc4c4737">Nguyễn Khải Hoàng</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="priority">Ưu tiên:</label>
                  <select class="form-control" id="priority" name="priority" [(ngModel)]="task.priority">
                    <option value="low">Thấp</option>
                    <option value="medium">Trung bình</option>
                    <option value="high">Cao</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="status">Trạng thái:</label>
                  <select class="form-control" id="status" name="status" [(ngModel)]="task.status">
                    <option value="todo">Mới thực hiện</option>
                    <option value="in_progress">Đang thực hiện</option>
                    <option value="completed">Hoàn thành</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="due_date">Ngày đáo hạn:</label>
                  <input type="date" class="form-control" id="due_date" name="due_date" [(ngModel)]="task.due_date">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>