<div class="body-wrapper mt-4">
  <div class="container-fluid mt-4">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4 p-6">Thêm nhiệm vụ</h5>
          <div class="card">
            <div class="card-body">
              <form (submit)="onSubmit()">
                <div class="form-group">
                  <label for="project_id">Id dự án:</label>
                  <input type="text" class="form-control" id="pro ject_id" name="project_id"
                    [(ngModel)]="task.project_id" required>
                </div>
                <div class="form-group">
                  <label for="name">Tên dự án:</label>
                  <input type="text" class="form-control" id="name" name="name" [(ngModel)]="task.name" required>
                </div>
                <div class="form-group">
                  <label for="description">Mô tả:</label>
                  <textarea class="form-control" id="description" name="description" [(ngModel)]="task.description"
                    required></textarea>
                </div>
                <div class="form-group">
                  <label for="assignee_id">Id thành viên:</label>
                  <input type="text" class="form-control" id="assignee_id" name="assignee_id"
                    [(ngModel)]="task.assignee_id">
                </div>
                <div class="form-group">
                  <label for="priority">Ưu tiên:</label>
                  <select class="form-control" id="priority" name="priority" [(ngModel)]="task.priority">
                    <option value="low">Thấp</option>
                    <option value="medium">Trung bình</option>
                    <option value="high">Cao</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="status">Trạng thái:</label>
                  <select class="form-control" id="status" name="status" [(ngModel)]="task.status">
                    <option value="todo">Mới thực hiện</option>
                    <option value="in_progress">Đang thực hiện</option>
                    <option value="completed">Hoàn thành</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="due_date">Due Date:</label>
                  <input type="date" class="form-control" id="due_date" name="due_date" [(ngModel)]="task.due_date">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>