<div class="card-body">
  <h5 class="card-title fw-semibold mb-4">Edit Project</h5>
  <form (submit)="updateProject()">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="project.name" name="name" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea class="form-control" id="description" [(ngModel)]="project.description" name="description" rows="3" required></textarea>
    </div>
    <div class="mb-3">
      <label for="startDate" class="form-label">Start Date:</label>
      <input type="date" class="form-control" id="startDate" [(ngModel)]="project.start_date" name="startDate" required>
    </div>
    <div class="mb-3">
      <label for="endDate" class="form-label">End Date:</label>
      <input type="date" class="form-control" id="endDate" [(ngModel)]="project.end_date" name="endDate" required>
    </div>
    <div class="mb-3">
      <label for="budget" class="form-label">Budget:</label>
      <input type="number" class="form-control" id="budget" [(ngModel)]="project.budget" name="budget" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
