<!--  Row 1 -->
<div class="row mt-4 justify-content-center">
  <div class="col-lg-2">
    <!-- Empty column -->
  </div>
  <div class="col-lg-4">
    <div class="card w-100">
      <img class="card-img-top" src="../../assets/images/profile/user-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">Thông Tin</h5>
        <p class="card-text">Giới Thiệu Sơ Lược Về Team</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Số Lượng Thành Viên <h6 class="fw-semibold mb-0">2</h6>
        </li>
        <li class="list-group-item">Tổng Chi Phí Của Tất Cả Dự Án <h6 class="fw-semibold mb-0">100k $</h6>
        </li>
        <li class="list-group-item">Các Nhiệm Vụ Đang Xử Lý <h6 class="fw-semibold mb-0">2</h6>
        </li>
        <li class="list-group-item">Dự Án Sắp Triển Khai <h6 class="fw-semibold mb-0">0</h6>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 d-flex align-items-stretch">
    <!-- Monthly Earnings -->
    <div class="card w-100">
      <div class="card-body">
        <div class="row alig n-items-start">
          <div class="col-8">
            <h5 class="card-title mb-9 fw-semibold"> Chi Phí </h5>
            <table class="table table-bordered">
              <tr>
                <th>Chi phí dự án</th>
                <td>100k $</td>
              </tr>
              <tr>
                <th>Hiện tại đã chi</th>
                <td>50k $</td>
              </tr>
              <tr>
                <th>Còn lại</th>
                <td>50k $</td>
              </tr>
            </table>
          </div>
          <div class="col-8">
            <h5 class="card-title mb-9 fw-semibold"> Thành Viên Nhóm </h5>
            <table class="table table-bordered">
              <tr>
                <th>Khu vực</th>
                <th>Số lượng nhân viên</th>

              </tr>
              <tr>
                <th>Miền Tây</th>
                <td>20</td>
              </tr>
              <tr>
                <th>Miền Nam</th>
                <td>20</td>
              </tr>
              <tr>
                <th>Miền Trung</th>
                <td>20</td>
              </tr>
              <tr>
                <th>Miền Bắc</th>
                <td>20</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-lg-2">
    <!-- Empty column -->
  </div>
  <div class="col-lg-10 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4">Danh Sách Thành Viên</h5>
        <div class="table-responsive">
          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              <tr>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Id</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Dự Án Đang Thực Hiện</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Tên</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Trạng Thái</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Khu Vực</h6>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">1</h6>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">Thiết Kế Database,Template</h6>
                  <span class="fw-normal">Web Designer</span>
                </td>
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">Nguyễn Khải Hoàng</p>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <span class="badge bg-primary rounded-3 fw-semibold">Đang thực hiện</span>
                  </div>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 fs-4">Miền Tây</h6>
                </td>
              </tr>
              <tr>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">2</h6>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">Thiết kế chức năng</h6>
                  <span class="fw-normal">Web Designer</span>
                </td>
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">Trần Hữu Đạt</p>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <span class="badge bg-secondary rounded-3 fw-semibold">Đang chờ</span>
                  </div>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 fs-4">Miền Tây</h6>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>