<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="body-wrapper mt-4 col-lg-10">
    <div class="container-fluid mt-4">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title fw-semibold mb-4">Cập nhật nhiệm vụ</h2>

            <div class="alert alert-primary">
              <form (submit)="updateTask()">
                <div class="mb-3">
                  <label for="name" class="form-label">Tên:</label>
                  <input type="text" class="form-control" id="name" [(ngModel)]="task.name" name="name" required>
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Mô tả:</label>
                  <textarea class="form-control" id="description" [(ngModel)]="task.description" name="description"
                    rows="3" required></textarea>
                </div>
                <div class="mb-3">
                  <label for="assignee_id" class="form-label">Thành viên:</label>
                  <select class="form-control" name="assignee_id" id="assignee_id" [(ngModel)]="task.assignee_id">
                    <option value="666938e02ad4e551fc4c4735">Trần Hữu Đạt</option>
                    <option value="6669390b2ad4e551fc4c4737">Nguyễn Khải Hoàng</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="priority" class="form-label">Ưu tiên:</label>
                  <select class="form-control" id="priority" [(ngModel)]="task.priority" name="priority" required>
                    <option value="low">Thấp</option>
                    <option value="medium">Trung bình</option>
                    <option value="high">Cao</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="status" class="form-label">Trạng thái:</label>
                  <select class="form-control" id="status" [(ngModel)]="task.status" name="status" required>
                    <option value="todo">Mới thực hiện</option>
                    <option value="in_progress">Đang thực hiện</option>
                    <option value="completed">Cao</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="due_date" class="form-label">Ngày đáo hạn:</label>
                  <input type="date" class="form-control" id="due_date" [(ngModel)]="task.due_date" name="due_date"
                    required>
                </div>
                <button type="submit" class="btn btn-primary">Cập nhật</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
