<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Danh sách nhiệm vụ</h5>
        <div class="card mb-0">
          <div class="card-body p-4">
            <div class="alert alert-primary" role="alert">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên nhiệm vụ</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Thuộc dự án</th>
                    <th scope="col">Ưu tiên</th>
                    <th scope="col">Trạng Thái</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Nhiệm vụ 1</td>
                    <td>ádfsđsfádf</td>
                    <th>Dự án 1</th>
                    <th>Không có</th>
                    <th>Đang chờ</th>
                  </tr>
                </tbody>
              </table>
            </div>
            
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>