<div class="row">
  <div class="col-lg-2">
    <!-- Empty column -->
  </div>
<div class="body-wrapper mt-4 col-lg-10">
  <header class="app-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <ul class="navbar-nav">
        <li class="nav-item d-block d-xl-none">
          <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
            <i class="ti ti-menu-2"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-icon-hover" href="javascript:void(0)">
            <i class="ti ti-bell-ringing"></i>
            <div class="notification bg-primary rounded-circle"></div>
          </a>
        </li>
      </ul>
      <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
        </ul>
      </div>
    </nav>
  </header>
  <div class="container-fluid mt-4">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Danh sách nhiệm vụ</h5>
          <div class="card mb-0">
            <div class="card-body p-4">
              <div class="alert alert-primary" role="alert">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center">#</th>
                      <th scope="col" class="text-center">Id dự án</th>
                      <th scope="col" class="text-center">Tên nhiệm vụ</th>
                      <th scope="col" class="text-center">Mô tả</th>
                      <th scope="col" class="text-center">Id thành viên</th>
                      <th scope="col" class="text-center">Ưu tiên</th>
                      <th scope="col" class="text-center">Trạng Thái</th>
                      <th scope="col" class="text-center">Ngày hết hạn</th>
                      <th scope="col" class="text-center">Thao tác</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="tasks.length >= 1 && !isLoading">
                    <tr *ngFor="let task of tasks; let i = index">
                      <td class="text-center">{{ i + 1 }}</td>
                      <!-- <td class="text-center">{{ task.project_id}}</td> -->
                      <td>
                        <div class="form-group">
                          <select disabled class="custom-select border border-0" name="assignee_id" id="assignee_id"
                            [(ngModel)]="task.project_id">
                            <option value="6667a0f85238b3068ce2777f">Quản lý cửa hàng thú cưng</option>
                            <option value="666959b4e6e00c5dc85fe06d">dự án web bán hàng</option>
                          </select>
                        </div>
                      </td>

                      <td class="text-center">{{ task.name }}</td>
                      <td class="text-center">{{ task.description }}</td>
                      <td>
                        <div class="form-group">
                          <select disabled class="custom-select border border-0" name="assignee_id" id="assignee_id"
                            [(ngModel)]="task.assignee_id">
                            <option value="666938e02ad4e551fc4c4735">Trần Hữu Đạt</option>
                            <option value="6669390b2ad4e551fc4c4737">Nguyễn Khải Hoàng</option>
                          </select>
                        </div>
                      </td>
                      <td class="text-center">{{ task.priority }}</td>
                      <td class="text-center">{{ task.status }}</td>
                      <td class="text-center">{{ task.due_date | date:'dd/MM/yyyy' }}</td>

                      <td>
                        <i class="fa fa-solid fa-pencil text-success" (click)="editTask(task._id)"></i>
                        <i class="fa fa-trash text-danger" (click)="onDelete(task._id)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>